.menu {
  width: 110px;
  height: 100vh;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  border-right: solid 4px black;
}

.menu a {
  height: 50px;
  width: 95px;
  margin-right: 5px;
  font-size: 1.2em;
  background-color: black;
  border: 5px white solid;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.menu a:hover {
  text-decoration: none;
  opacity: 0.8;
}