.menu {
  width: 100px;
  height: 100vh;
  background: linear-gradient(to right, #ffeeee, #ddefbb);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.menu a {
  height: 50px;
  width: 95px;
  margin-right: 5px;
  font-size: 1.2em;
  background-color: black;
  border: 5px rgb(255, 145, 0) solid;
  color: rgb(255, 145, 0);
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  margin-top: 15px;
}