*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #abbaab, #ffffff );
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
